@keyframes show-and-hide {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    5%,
    95% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@media (min-width: 768px) {
    body {
        model-viewer {
            width: 30vw;
            height: 60vh;
            top: 20vh;
            right: 10vw;
            background-color: #ffffff;
            border-radius: 8px;
            position: fixed;
        }

        model-viewer::-webkit-scrollbar {
            /*Chrome, Safari, Edge*/
            display: none;
        }

        model-viewer::part(progress-bar) {
            display: none !important;
        }

        /* h3 {
            position: fixed;
            left: 25vw;
            top: 50vh;
            width: 35vw;
            font-size: 2.5vw;
            font-weight: 300;
            line-height: 1.25;
            color: black;
            transform: translate(-50%, -50%);
        } */

        .project {
            position: relative;
            height: 40vh;
            display: flex;
            flex-direction: row;
            gap: 10vw;
            width: 80vw;
            left: 10vw;
            align-items: center;
            margin-top: 10vh;

            img {
                width: 35vw;
                height: 100%;
                object-fit: cover;
            }

            h3 {
                width: 35vw;
                font-size: 2vw;
                font-weight: 400;
                text-align: center;
            }
        }
    }
}