@media (min-width: 768px) {

    body {

        .resume-img {
            width: 60%;
            position: relative;
            left: 20%;
        }
    }
}

@media (max-width: 768px) {

    body {

        background-color: black;
    }
}