* {
    font-family: 'Roboto', sans-serif;
    /* overflow: hidden; */
    margin: 0;
    padding: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
    text-decoration: none;
}

html::-webkit-scrollbar {
    /*Chrome, Safari, Edge*/
    display: none;
}

@media (min-width: 768px) {
    body {
        width: 100vw;
        height: auto;
        background-color: white;

        .menu {
            position: fixed;
            left: 30px;
            top: 25px;
            width: auto;
            height: auto;
            display: flex;
            flex-direction: row;
            padding: 5px 6px;
            border-radius: 6px;
            z-index: 2;
            background-color: rgba(26, 26, 26, 0.3);
            backdrop-filter: blur(12px);
            -webkit-backdrop-filter: blur(12px);
            /* For Safari support */
            gap: 3px;

            a {
                font-size: 11pt;
                text-decoration: none;
                color: rgb(255, 255, 255);
                padding: 8px 10px;
                border-radius: 6px;
                transition: all ease 0.5s;
            }

            /* a.active {
                background-color: rgba(174, 228, 171, 0.9);
            } */

            a:hover {
                background-color: rgba(26, 26, 26, 0.7);
            }
        }

        /* Base styles for the object */
        .scroll-object {
            /* Hidden by default */
            opacity: 0;
            visibility: hidden;

            /* Smooth fade-in and fade-out transition */
            transition: opacity 0.3s ease, visibility 0.3s ease;
        }

        /* Class added by JavaScript when within the scroll range */
        .scroll-object.active {
            opacity: 1;
            visibility: visible;
        }
    }
}

@media (max-width: 768px) {
    body {
        background-color: black;
    }
}